<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>

  <link rel="stylesheet" href="/ccs/styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/ccs/register&login.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
  <header>

    <div class="header-sin-banner">

      <div class="logo-barra">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo">

        <form class="buscar" action="POST">
          <input class="search-bar" type="text" placeholder="buscar prodcutos, marcas..." type="nav">
          <button class="search-button" type="submit"> <i class="fas fa-search"></i></button>
        </form>

        <div class="cuotas"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </div>

      </div>
      <br>
      <section class="menu-bar">
        <ul class="menu-options">
          <li type="none"> <a href="/ofertas"> Ofertas </a> </li>
          <li type="none"> <a href="/tiendas-oficiales"> Tiendas oficiales </a> </li>
          <li type="none"> <a href="/vender"> Vender </a> </li>
          <li type="none"> <a href="/ayuda"> Ayuda </a> </li>
        </ul>

        <ul class="menu-account">
          <li type="none"> <a href="/register"> Creá tu cuenta </a> <i class="far fa-id-card"></i></li>
          <li type="none"> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
          <li type="none"> <a href="/mis-compras"> Mis compras </a> <i class="fas fa-shopping-basket"></i> </li>
        </ul>
      </section>

      <div class="burger-menu">
        <i id="menu" class="fas fa-bars"></i>
      </div>
      <br>
    </div>
    <div class="banner">
      <img src="/img/img-home-banner.jpg" alt="Banner">
    </div>

  </header>

  <main>

    <form action="/" method="get" class="create-form">

      <div class="control-formulario">
        <label class="input-name" for="nombreUsuario">Nombre de usuari@:</label>
        <input type="text" name="nombreUsuario" placeholder="juancito" class="input" required minlength="3"
          maxlength="50">
      </div>

      <div class="control-formulario">
        <label class="input-name" for="contrasena"> Contraseña:</label>
        <input type="password" name="contrasena" class="input" required minlength="6">
      </div>

      <div class="buttons">
        <button type="submit" class="button-form">Enviar</button>
      </div>

    </form>

  </main>

  <footer>
    <div class="info-footer">

      <section>
        <i id="icon" class="fas fa-credit-card"></i>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <br>
      <section>
        <i id="icon" class="fas fa-gift"></i>
        <h1 class="footer-section">Envío gratis desde $ 2.500</h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <br>
      <section>
        <i id="icon" class="fas fa-user-shield"></i>
        <h1>Seguridad, de principio a fin</h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </section>
    </div>
    <br><br>
    <section>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

  </footer>

</body>

</html>