
.create-form {
  padding: 20px 10px;
}

.control-formulario {
  padding: 10px;
  margin: 15px;
  text-align: left;
}

.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

.input {
  width: 100%;
  padding: 8px;
}

.button-form {
  background-color: var(--dark-grey);
  font-size: 15px;
  color: white;
  padding: 5px;
  border-radius: 50px;
}

