:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --dark-grey: #666;
  --light-grey: #ebebeb;
  --green: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.buscar {
  width: 50%;
  max-height: 30px;

}

.search-bar {
  border-radius: 5px;
  position: relative;
  outline: none;
  border: none;
  height: 25px;
  width: 100%;
}

.search-button {
  position: absolute;
  left: 285px;
  top: 23px;
  border-radius: 5px;
  background-color: white;
  border: white;
  color: var(--dark-grey);
}

#lupa{
  background-color: white;
} 

.logo-barra {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.menu-bar{
  display: none;
}

.cuotas {
  padding-left: 40px ;
}  

.menu-account,
.menu-options {
  display: none;
}

.banner>img {
  width: 100%;
  margin-bottom: -5px;
}

.logo {
  width: 50%;
  padding: 15px;
}

h2 {
  padding: 10px;
  font-size: 24px;
}

.price {
  font-size: 18px;
  flex-grow: 70%;
  padding-right: 5px;
}

.discount {
  font-size: 16px;
  color: var(--green);
  flex-grow: 30%;
}

.price-product {
  display: flex;
  align-items: center;
}

.product {
  padding: 10px;
  text-align: left;
}

.details-product {
  padding: 15px;
  background-color: white;
  border: 1px solid #ebebeb;
  position: relative;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: var(--green);
}

.img-product>img {
  width: 100%;
  flex-grow: 100%;
}

.product-name {
  font-size: 16px;
  display: none;
}

h1 {
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  margin: 5px 0px;
}

header {
  background-color: var(--yellow);
}

main {
  background-color: var(--light-grey);
  text-align: center;
}

footer {
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 100%;
}

#icon {
  color: var(--light-blue);
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 5px;
}

.copyright {
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

header>p {
  text-align: center;
}

.burger-menu {
  text-align: center;
}

#menu {
  color: white;
  font-size: 2em;
  background-color: var(--light-blue);
  padding: 1.5%;
  border-radius: 5px;
}


@media (min-width: 361px) {
  .menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .menu-bar li {
    padding: 0 5px;
  }

  .menu-options {
    display: flex;
    justify-content: space-between;
  }

  .menu-account{
    display: flex;
    justify-content: space-between;
  }

  .product-name {
    display: block
  }

  .burger-menu {
    display: none;
  }

  .product {
    width: 50%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .buscar,
  .logo,
  .cuotas {
    width: 33%;
  }

  .cuotas {
    text-align: right;
    max-width: 350px;
   }
}

@media (min-width: 769px) {
  .menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .menu-bar li {
    padding: 0 10px;
  }

  .menu-options {
    display: flex;
    justify-content: space-between;
  }

  .menu-account{
    display: flex;
    justify-content: space-between;
  }

  .product-name {
    display: block
  }

  .burger-menu {
    display: none;
  }

  .product {
    width: 25%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .buscar,
  .logo,
  .cuotas {
    width: 33%;
  }

  .cuotas {
    text-align: right;
    max-width: 300px;
   }
}