:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --dark-grey: #666;
  --light-grey: #ebebeb;
  --green: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background-color: var(--light-grey);
}

.buscar {
  width: 50%;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  border-radius: 5px;
  outline: none;
  border: none;
  height: 25px;
  width: 100%;
  padding-left: 10px;
}

.search-button {
  height: 25px;
  background-color: white;
  border: white;
  color: var(--dark-grey);
}

#lupa {
  background-color: white;
}

.logo-barra {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.menu-bar {
  visibility: hidden;
}

.cuotas {
  width: 100%;
  text-align: center;
}

.menu-account,
.menu-options {
  display: none;
}

.banner>img {
  width: 100%;
  margin-bottom: -5px;
}

.banner {
  margin-top: 141px;
}

.logo {
  width: 50%;
  padding: 15px;
}

h2 {
  padding: 10px;
  font-size: 1.5em;
}

.price {
  font-size: 1.6em;
  flex-grow: 70%;
  padding-right: 5px;
}

.discount {
  font-size: 1.3em;
  color: var(--green);
  flex-grow: 30%;
}

.price-product {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.product {
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.details-product {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  position: relative;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#truck {
  display: block;
  font-size: 1.5em;
  padding: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: var(--green);
}

.img-product>img {
  width: 100%;
  flex-grow: 100%;
}

.product-name {
  font-size: 1.5em;
  visibility: hidden;
}

h1 {
  padding: 0px 10px;
  font-size: 1.2em;
  margin: 5px 0px;
}

header {
  background-color: var(--yellow);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-sin-banner {
  background-color: var(--yellow);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 140px;
}

main {
  text-align: center;
}

footer {
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 100%;
}

#icon {
  color: var(--light-blue);
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 5px;
}

.copyright {
  text-align: left;
  padding-left: 10px;   
}

a {
  color: black;
  text-decoration: none;
}

header>p {
  text-align: center;
}

.burger-menu {
  visibility: visible;
  text-align: center;
}

#menu {
  color: white;
  font-size: 2em;
  background-color: var(--light-blue);
  padding: 1.5%;
  border-radius: 5px;
}


@media (min-width: 425px) {

  .menu-bar {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .menu-bar li {
    padding: 0 5px;
  }

  .menu-options {
    display: flex;
    justify-content: space-between;
  }

  .menu-account {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu {
    visibility: hidden;
  }

  .product {
    width: 47%;
    margin-bottom: 20px 4px;
  }

  h2 {
    padding: 15px;
  }

  .buscar,
  .logo,
  .cuotas {
    width: 33%;
  }

  .cuotas {
    text-align: right;
    max-width: 350px;
  }

  .info-footer {
    margin: 0% 30%;
  }

  .banner {
    margin-top: 140px;
  }
}

@media (min-width: 769px) {
  * {
    font-size: 16px;
  }

  #truck {
    font-size: 18px;
    transition: all 450ms;
  }

  .header-sin-banner {
    height: 230px;
    margin: 0px;
    z-index: 1;
  }

  .menu-bar {
    visibility: visible;
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    margin: 0px;
  }

  .img-product>img {
    width: 100%;
    flex-grow: 100%;
  }

  .menu-bar li {
    padding: 0 10px;
  }

  .menu-options {
    display: flex;
    justify-content: space-between;
  }

  .menu-account {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu {
    visibility: hidden;
  }

  .product {
    width: 24%;
    transition: all 450ms;
  }

  .buscar,
  .cuotas {
    width: 33%;
  }

.logo{
  width: 25%;
}

  h2 {
    padding: 15px;
    font-size: 24px;
  }

  h1 {
    font-size: 24px;
  }

  .cuotas {
    text-align: right;
    max-width: 300px;
    padding-right: 20px;
  }

  .info-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .info-footer section {
    margin: 0px 50px;
    padding: 0px;
  }

  .info-footer p {
    max-width: 291px;
    font-size: 14px;
  }

  .banner {
    margin-top: 237px;
    z-index: 0;
  }

  .product-name {
    transition: all 450ms;
  }

  section article:hover .product-name {
    visibility: visible;
  }

  section article:hover i {
    transform: rotate(-90deg);
  }

  #icon {
    transition: all 450ms;
  }

  #icon:hover {
    color: var(--dark-blue);
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}